body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

h1 {
  border: #333 solid;
  color: black;
  margin: 0px;
  font-size: 4rem;
}
span {
  background-color: #333;
  color: white;
  transition: 0.3s ease-in-out;
}

span:hover {
  background-color: white;
  color: #333;
}
header,
nav,
main,
footer {
  padding: 1em;
}
header {
  display: flex;
  flex-direction: column;
}
#menu {
  background: #444;
  color: white;
  gap: 1em;
  display: flex;
}
#menu a {
  color: white;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: row;
  gap: 2em;
  margin: 1em;
}
section {
  margin-left: 20px;
}
article {
  border: #333 solid;
  padding: 20px;
  margin-top: 20px;
}
.post-meta {
  color: white;
  background-color: #333;
  padding: 10px;
}
aside {
  background: #f4f4f4;
  padding: 1em;
  width: 20%;
  border: solid #333;
  background-color: #333;
}
#aside-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav > a {
  transition: 0.3s ease-in-out;
  padding: 10px;
}
nav > a:hover {
  transform: scale(1.5);
  background-color: black;
}
h3 {
  font-size: 3rem;
}
aside h2 {
  text-align: center;
  color: white;
}
#aside-menu a {
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  padding: 1em 0;
}
footer a {
  color: white;
  transition: 0.3s ease-in-out;
}

/* media width */
@media screen and (max-width: 600px) {
  #menu {
    align-items: center;
    width: auto;
  }
  main {
    display: block;
  }
  h3 {
    font-size: 1.6em;
  }
  aside {
    margin: 10px;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px 0;
  }
  #aside-menu {
    display: flex;
    flex-direction: row;
  }
  #aside-menu > a {
    margin: 10px;
  }
  hr {
    margin: 20px;
  }
}
